.App {
  
  font-size: 20px;
  line-height: 1.3;
  font-family: 'Gotham';
}

.Fixed-Container {
  max-width: 1360px;
  margin: 0 auto;
  width: 1360px;
}

.App-Container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}


*,
*:before,
*:after { box-sizing: border-box; }