.App {
  height: 100vh;
  background-color: #fff9ee;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: 'Gotham';
}

.Fixed-Container {
  max-width: 1360px;
  margin: 0 auto;
  width: 1360px;
}

.App-Container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}
